In [7]:
names = ['Aabid', 'Juned', 'Usman', 'Suraj', 'Vishal']
print('Aabid' in names)
print('Jay' in names)

True
False

In [12]:
for x in range(10):
    x = x+1
    print(x)

1
2
3
4
5
6
7
8
9
10

In [1]:
items = range(5)
for item in items:
    print(item)

0
1
2
3
4

In [2]:
c = 0
while c < 10:
    print(c)
    c = c +1

0
1
2
3
4
5
6
7
8
9

In [5]:
value = 10
while value <= 20:
    print(value)
    value = value +1

10
11
12
13
14
15
16
17
18
19
20