In [4]:
import pandas as pd
import numpy as np

In [3]:
my_series = pd.Series()
my_series

Series([], dtype: object)

In [8]:
my_array = np.array([10, 20, 30, 40, 50])
print(my_array)
my_series = pd.Series(my_array)
print(my_series)

[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [13]:
my_series = pd.Series(my_array, index = ["num1", "num2", "num3", "num4", "num5"])
my_series

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int32

In [15]:
my_series = pd.Series([10, 20, 30, 40, 50], index = ["num1,", "num2", "num3", "num4", "num5"])
my_series

num1,    10
num2     20
num3     30
num4     40
num5     50
dtype: int64

In [17]:
my_series = pd.Series(25, index = ["num1,", "num2", "num3", "num4", "num5"])
my_series

num1,    25
num2     25
num3     25
num4     25
num5     25
dtype: int64

In [19]:
# Series using dictionary
my_dict = {'num1': 6,
          'num2': 7,
          'num3': 8}

my_series = pd.Series(my_dict)
print(my_series)

num1    6
num2    7
num3    8
dtype: int64

In [30]:
# Using operator on Pandas Series
my_series = pd.Series([10, 20, 30, 40, 50], index = ["num1,", "num2", "num3", "num4", "num5"])
print(my_series[1])
print(my_series["num3"])

20
30

In [35]:
my_series = pd.Series([5, 4, 2, 6, 7, 8])
print(np.min(my_series))
print(np.max(my_series))

2
8

In [39]:
#using Numpy 
print(np.mean(my_series))
print(np.median(my_series))

5.333333333333333
5.5

In [41]:
#using Pandas
print(my_series.mean())
print(my_series.median())

5.333333333333333
5.5

In [42]:
# find data types of Pandas series
print(my_series.dtype)

int64

In [43]:
# convert Pandas series to Python list with tolist()

my_list = my_series.tolist()
my_list

[5, 4, 2, 6, 7, 8]